/*#createDate{
    width: 7em;
}
.margin-left-0{
    margin-left: -12px;    
}

body {
    background-color: #333;
}
#image{
    width: 15em;
}
.add-cart-icon{
    font-size: 30px;
    
}

.btn-action{
    min-width: 80px;
    vertical-align: middle;
    text-align: center;
}
body{
    opacity: 0.6;
}*/

